.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    overflow-x: hidden;
}

.movie-card {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
/*movie details*/
.movie-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.movie-poster {
    width: 100%;
    height: 100%;
    max-width: 280px;
   max-height: 400px;;
   margin: 40px;
}

.movie-poster-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.movie-details-txt {
    width: 100%;
    padding: 30px;
    margin: 10px;
    flex: 1;
}

.movie-title {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.overview {
    font-size: 25px;
}

.movie-genre, .good {
text-align: center;
}

.good{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.movie-overview,
.movie-genre{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
/*cast*/

.cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    text-align: center;
}

.cast-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.cast-photo {
    width: 80px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

.cast-photo:hover {
    transform: scale(1.1);
}
.cast-word{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .movie-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .movie-card {
        max-width: 150px;
    }

    .movie-poster {
        max-width: 300px;
    }

    .cast-photo {
        width: 60px;
    }
}

@media screen and (max-width: 480px) {
    .movie-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .movie-card {
        max-width: 120px;
    }

    .movie-poster {
        max-width: 200px;
    }

    .cast-photo {
        width: 40px;
    }
}
