/* Reset styles */
* {
    @apply m-0 p-0 box-border text-base;
    font-size: 18px;
}

/* Global styles */
body {
  font-family: 'Protest Guerrilla', sans-serif;

}

/* Navbar styles */
.nav-container {
    @apply flex justify-between items-center p-2 md:p-5 bg-gradient-to-r from-yellow-200 to-yellow-600 text-black shadow-md;
   
}

.search-input {
    @apply p-1 rounded border-none outline-none border-b-2 border-gray-400 bg-transparent;
    margin: 0 auto;
}



.login-button {
 color: rgb(104, 104, 240);
 text-shadow: 0 0 3px whitesmoke;
}


.search-container{
 @apply flex items-center;   
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-container {
        @apply flex-col p-2 items-center text-xs;
    }
   
    .search-input {
        @apply w-full mb-1;
    }
    
    .light-mode-button,
    .dark-mode-button {
        @apply mt-1 ml-0;
    }
}
